.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: red;
}
.messages {
    padding: 10px;
}
.messages .message {

 }